# Binaries for programs and plugins
/bin/
/build/
/out/
*.exe
*.dll
*.so
*.dylib
*.test
*.out

# Output of the go coverage tool
coverage.out

# Go workspace and module files
go.work

# Dependency directories (uncomment if you vendor dependencies)
# /vendor/

# IDEs
.idea/
*.iml
workspace.xml
tasks.xml
.vscode/

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

/internal/generated/*
/internal/stubs/*
/specs/*

!/internal/generated/petstore
!/internal/stubs/petstore
!/specs/petstore

!/internal/generated/echo
!/internal/stubs/echo
!/specs/echo
